AURELIA_API_URL=http://127.0.0.1:8000
AURELIA_TENANT_KEY=demo-bistro
AURELIA_BACKEND_EMAIL=admin@aurelia.local
AURELIA_BACKEND_PASSWORD=password

NEXT_PUBLIC_KDS_BROADCASTER=pusher
NEXT_PUBLIC_KDS_APP_KEY=local-aurelia-key
NEXT_PUBLIC_KDS_APP_CLUSTER=mt1
NEXT_PUBLIC_KDS_WS_HOST=127.0.0.1
NEXT_PUBLIC_KDS_WS_PORT=6001
NEXT_PUBLIC_KDS_WS_SCHEME=http