node_modules
.next
apps/website/.next

.env
.env.local
.env.development
.env.production
.env.staging

deploy/logs/
logs/
tsconfig.tsbuildinfo
apps/website/tsconfig.tsbuildinfo

tools/**/bin/
tools/**/obj/
tools/**/publish/
